<a href="https://colab.research.google.com/github/dantrainor9/Causes-of-Death/blob/main/Causes_of_Death.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#data ingestion
path = '/content/drive/MyDrive/Causes of Death/causes-of-death-in-children-under-5 NEW.csv'
df = pd.read_csv(path)

In [4]:
#data validation
df.shape

(6840, 32)

In [5]:
df.head()

,Entity,Code,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),...,Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)",Deaths - Road injuries - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,48,105,1779,718,431,8649,477,...,7112,2455,3968,131,802,808,10,776,21,123
1,African Region (WHO),0,1990,26869,4381,170136,3388,17987,311413,17025,...,100379,71931,686390,9165,28173,78180,67976,16651,447410,54547
2,Albania,ALB,1990,0,5,33,3,44,176,136,...,310,25,68,11,27,4,0,34,0,10
3,Algeria,DZA,1990,16,17,316,92,182,2599,239,...,3326,628,2666,217,1446,94,15,310,0,163
4,American Samoa,ASM,1990,0,0,1,0,0,2,0,...,2,1,1,0,0,0,0,0,0,3

In [6]:
df.describe()

,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number),Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number),...,Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)",Deaths - Road injuries - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
count,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,...,6840.000000,6840.000000,6.840000e+03,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000
mean,2004.500000,1041.740789,399.418567,6392.636842,826.106433,1472.511550,8527.408772,1235.561696,262.530409,304.512135,...,11726.084795,3876.111696,2.464864e+04,535.363743,1718.877047,2892.662719,3252.680702,2331.720468,12045.209064,2107.161111
std,8.656074,5943.506061,1549.064285,30815.191076,4399.035288,5794.139457,43502.336767,5006.538348,1119.050195,1208.144730,...,51612.890640,16817.425576,1.133132e+05,2156.814008,6934.211045,13333.898943,18169.939174,10832.408381,64858.902628,9180.674890
min,1990.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1997.000000,0.000000,1.000000,1.000000,0.000000,7.000000,0.000000,2.000000,0.000000,1.000000,...,18.750000,0.000000,3.000000e+00,2.000000,4.000000,0.000000,0.000000,3.000000,0.000000,0.000000
50%,2004.500000,1.000000,10.000000,17.000000,2.000000,44.000000,1.000000,25.000000,4.000000,7.000000,...,178.000000,21.000000,9.800000e+01,15.000000,38.500000,11.000000,7.000000,27.000000,0.000000,12.000000
75%,2012.000000,42.000000,77.000000,903.250000,36.000000,283.000000,655.000000,290.250000,52.000000,78.000000,...,1773.250000,671.000000,3.822250e+03,142.000000,359.250000,388.000000,298.250000,291.250000,217.250000,277.250000
max,2019.000000,62334.000000,21223.000000,524103.000000,50184.000000,85197.000000,704288.000000,77952.000000,15916.000000,18047.000000,...,539952.000000,240021.000000,1.649581e+06,35583.000000,115624.000000,209562.000000,223680.000000,184096.000000,631523.000000,99248.000000

In [7]:
df.dtypes

Entity                                                                                                   object
Code                                                                                                     object
Year                                                                                                      int64
Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)                     int64
Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)                                       int64
Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                     int64
Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)                                              int64
Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                    int64
Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                      int64
Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)                                           int64
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)                   int64
Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)                                       int64
Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)                                      int64
Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                     int64
Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                                 int64
Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                       int64
Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)                         int64
Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)                int64
Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)                                 int64
Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)                                            int64
Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)     int64
Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                   int64
Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                     int64
Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                               int64
Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                           int64
Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)                               int64
Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)                                                int64
Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                                 int64
Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                     int64
Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                     int64
Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                      int64
Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                     int64
dtype: object

In [25]:
#adjusting data types to return Entity and Code as strings
df = df.convert_dtypes()

In [26]:
df.dtypes

Entity                                                                                                   string[python]
Code                                                                                                     string[python]
Year                                                                                                              Int64
Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)                             Int64
Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)                                               Int64
Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                             Int64
Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)                                                      Int64
Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                            Int64
Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                              Int64
Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)                                                   Int64
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)                           Int64
Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)                                               Int64
Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)                                              Int64
Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                             Int64
Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                                         Int64
Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                               Int64
Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)                                 Int64
Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)                        Int64
Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)                                         Int64
Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)                                                    Int64
Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)             Int64
Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                           Int64
Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                             Int64
Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                                       Int64
Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                                   Int64
Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)                                       Int64
Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)                                                        Int64
Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                                         Int64
Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                             Int64
Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                             Int64
Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                              Int64
Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                             Int64
dtype: object

In [27]:
df.isna().sum()

Entity                                                                                                   0
Code                                                                                                     0
Year                                                                                                     0
Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)                    0
Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)                                      0
Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)                                    0
Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)                                             0
Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)                                                   0
Deaths - Measles - Sex: Both - Age: Under 5 (Number)                                                     0
Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)                                          0
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)                  0
Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)                                      0
Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)                                     0
Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)                                    0
Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)                                0
Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)                                      0
Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)                        0
Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)               0
Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)                                0
Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)                                           0
Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)    0
Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)                                                  0
Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)                                    0
Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)                                              0
Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)                                          0
Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)                              0
Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)                                               0
Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)                                                0
Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)                                                    0
Deaths - Drowning - Sex: Both - Age: Under 5 (Number)                                                    0
Deaths - Malaria - Sex: Both - Age: Under 5 (Number)                                                     0
Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)                                                    0
dtype: int64

In [28]:
#filtering for regional data
region_df = df[df['Code']=='0']
region_df

,Entity,Code,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),...,Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)",Deaths - Road injuries - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
1,African Region (WHO),0,1990,26869,4381,170136,3388,17987,311413,17025,...,100379,71931,686390,9165,28173,78180,67976,16651,447410,54547
54,East Asia & Pacific (WB),0,1990,744,7715,52414,7785,32854,86360,28572,...,42057,50674,215501,7953,38811,45834,1120,81686,3587,10586
56,Eastern Mediterranean Region (WHO),0,1990,709,954,29380,6641,7478,135984,5399,...,95177,23037,182023,5322,23070,17791,268,11017,10146,7538
60,England,0,1990,2,36,2,0,155,1,35,...,163,1,5,61,89,2,9,37,0,48
66,Europe & Central Asia (WB),0,1990,74,1217,1583,1443,5758,5396,2826,...,15341,2739,17655,3363,4879,2202,581,5616,563,344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6831,Western Pacific Region (WHO),0,2019,289,870,1605,160,6696,3771,2736,...,10206,4295,6791,1012,4959,1460,1922,7451,150,4300
6833,World Bank High Income,0,2019,17,934,52,12,1760,16,605,...,5004,121,296,306,1109,14,107,744,0,118
6834,World Bank Low Income,0,2019,18011,3751,57438,1394,13643,45548,10644,...,81931,43202,186331,5127,12239,23708,22799,8403,200065,36860
6835,World Bank Lower Middle Income,0,2019,31512,5188,34881,10748,19536,22646,19148,...,256369,60535,302100,6986,16890,24981,20756,19866,155443,38587
6836,World Bank Upper Middle Income,0,2019,324,2458,4868,273,9475,1593,4364,...,29160,3880,11628,1587,8193,1435,5222,7453,779,5750

In [29]:
region_df.Entity.unique()

<StringArray>
[              'African Region (WHO)',           'East Asia & Pacific (WB)',
 'Eastern Mediterranean Region (WHO)',                            'England',
         'Europe & Central Asia (WB)',              'European Region (WHO)',
                                'G20',     'Latin America & Caribbean (WB)',
    'Middle East & North Africa (WB)',                 'North America (WB)',
                   'Northern Ireland',                     'OECD Countries',
       'Region of the Americas (WHO)',                           'Scotland',
                    'South Asia (WB)',       'South-East Asia Region (WHO)',
            'Sub-Saharan Africa (WB)',                              'Wales',
       'Western Pacific Region (WHO)',             'World Bank High Income',
              'World Bank Low Income',     'World Bank Lower Middle Income',
     'World Bank Upper Middle Income']
Length: 23, dtype: string

In [30]:
#creating a dataframe of only World Bank regional data for viz
wb_region_df = region_df[region_df['Entity'].str.contains('WB')]
wb_region_df

,Entity,Code,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),...,Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)",Deaths - Road injuries - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
54,East Asia & Pacific (WB),0,1990,744,7715,52414,7785,32854,86360,28572,...,42057,50674,215501,7953,38811,45834,1120,81686,3587,10586
66,Europe & Central Asia (WB),0,1990,74,1217,1583,1443,5758,5396,2826,...,15341,2739,17655,3363,4879,2202,581,5616,563,344
105,Latin America & Caribbean (WB),0,1990,110,2812,29132,467,6024,661,10933,...,18373,5491,98066,2789,7372,5764,2200,6418,2727,2845
124,Middle East & North Africa (WB),0,1990,257,371,7265,1911,3256,33099,3270,...,48083,8458,79789,2956,20175,1867,157,3866,1243,1513
141,North America (WB),0,1990,11,956,28,9,968,18,443,...,3307,5,112,855,1448,13,350,812,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6717,Latin America & Caribbean (WB),0,2019,28,1511,3830,95,3338,0,2694,...,13356,1819,9450,677,2214,467,1725,1937,144,1971
6736,Middle East & North Africa (WB),0,2019,152,329,905,145,1641,1080,1262,...,16132,2675,15803,575,4041,165,430,751,78,1118
6753,North America (WB),0,2019,4,726,14,3,627,0,393,...,2501,9,69,172,563,3,28,433,0,2
6795,South Asia (WB),0,2019,1223,1969,20260,10116,9969,8269,5917,...,214602,26635,94278,2574,4864,10925,2682,11207,10323,14099
6801,Sub-Saharan Africa (WB),0,2019,48011,6279,69244,1746,17996,55295,18629,...,104183,67094,361406,8042,19405,34970,40289,11071,345485,55552